cards {
    font-family: "Courier New";
    display: inline-block;
    height: 10px;
    background-color: green;
}
card {
    display: table-cell;
}
rec_base {
    display: inline-block;
    background-color: red;
    font-size: 0px;
}
winning_num_1 ~ card_num_1 ~ rec_base,
winning_num_2 ~ card_num_2 ~ rec_base,
winning_num_3 ~ card_num_3 ~ rec_base,
winning_num_4 ~ card_num_4 ~ rec_base,
winning_num_5 ~ card_num_5 ~ rec_base,
winning_num_6 ~ card_num_6 ~ rec_base,
winning_num_7 ~ card_num_7 ~ rec_base,
winning_num_8 ~ card_num_8 ~ rec_base,
winning_num_9 ~ card_num_9 ~ rec_base,
winning_num_10 ~ card_num_10 ~ rec_base,
winning_num_11 ~ card_num_11 ~ rec_base,
winning_num_12 ~ card_num_12 ~ rec_base,
winning_num_13 ~ card_num_13 ~ rec_base,
winning_num_14 ~ card_num_14 ~ rec_base,
winning_num_15 ~ card_num_15 ~ rec_base,
winning_num_16 ~ card_num_16 ~ rec_base,
winning_num_17 ~ card_num_17 ~ rec_base,
winning_num_18 ~ card_num_18 ~ rec_base,
winning_num_19 ~ card_num_19 ~ rec_base,
winning_num_20 ~ card_num_20 ~ rec_base,
winning_num_21 ~ card_num_21 ~ rec_base,
winning_num_22 ~ card_num_22 ~ rec_base,
winning_num_23 ~ card_num_23 ~ rec_base,
winning_num_24 ~ card_num_24 ~ rec_base,
winning_num_25 ~ card_num_25 ~ rec_base,
winning_num_26 ~ card_num_26 ~ rec_base,
winning_num_27 ~ card_num_27 ~ rec_base,
winning_num_28 ~ card_num_28 ~ rec_base,
winning_num_29 ~ card_num_29 ~ rec_base,
winning_num_30 ~ card_num_30 ~ rec_base,
winning_num_31 ~ card_num_31 ~ rec_base,
winning_num_32 ~ card_num_32 ~ rec_base,
winning_num_33 ~ card_num_33 ~ rec_base,
winning_num_34 ~ card_num_34 ~ rec_base,
winning_num_35 ~ card_num_35 ~ rec_base,
winning_num_36 ~ card_num_36 ~ rec_base,
winning_num_37 ~ card_num_37 ~ rec_base,
winning_num_38 ~ card_num_38 ~ rec_base,
winning_num_39 ~ card_num_39 ~ rec_base,
winning_num_40 ~ card_num_40 ~ rec_base,
winning_num_41 ~ card_num_41 ~ rec_base,
winning_num_42 ~ card_num_42 ~ rec_base,
winning_num_43 ~ card_num_43 ~ rec_base,
winning_num_44 ~ card_num_44 ~ rec_base,
winning_num_45 ~ card_num_45 ~ rec_base,
winning_num_46 ~ card_num_46 ~ rec_base,
winning_num_47 ~ card_num_47 ~ rec_base,
winning_num_48 ~ card_num_48 ~ rec_base,
winning_num_49 ~ card_num_49 ~ rec_base,
winning_num_50 ~ card_num_50 ~ rec_base,
winning_num_51 ~ card_num_51 ~ rec_base,
winning_num_52 ~ card_num_52 ~ rec_base,
winning_num_53 ~ card_num_53 ~ rec_base,
winning_num_54 ~ card_num_54 ~ rec_base,
winning_num_55 ~ card_num_55 ~ rec_base,
winning_num_56 ~ card_num_56 ~ rec_base,
winning_num_57 ~ card_num_57 ~ rec_base,
winning_num_58 ~ card_num_58 ~ rec_base,
winning_num_59 ~ card_num_59 ~ rec_base,
winning_num_60 ~ card_num_60 ~ rec_base,
winning_num_61 ~ card_num_61 ~ rec_base,
winning_num_62 ~ card_num_62 ~ rec_base,
winning_num_63 ~ card_num_63 ~ rec_base,
winning_num_64 ~ card_num_64 ~ rec_base,
winning_num_65 ~ card_num_65 ~ rec_base,
winning_num_66 ~ card_num_66 ~ rec_base,
winning_num_67 ~ card_num_67 ~ rec_base,
winning_num_68 ~ card_num_68 ~ rec_base,
winning_num_69 ~ card_num_69 ~ rec_base,
winning_num_70 ~ card_num_70 ~ rec_base,
winning_num_71 ~ card_num_71 ~ rec_base,
winning_num_72 ~ card_num_72 ~ rec_base,
winning_num_73 ~ card_num_73 ~ rec_base,
winning_num_74 ~ card_num_74 ~ rec_base,
winning_num_75 ~ card_num_75 ~ rec_base,
winning_num_76 ~ card_num_76 ~ rec_base,
winning_num_77 ~ card_num_77 ~ rec_base,
winning_num_78 ~ card_num_78 ~ rec_base,
winning_num_79 ~ card_num_79 ~ rec_base,
winning_num_80 ~ card_num_80 ~ rec_base,
winning_num_81 ~ card_num_81 ~ rec_base,
winning_num_82 ~ card_num_82 ~ rec_base,
winning_num_83 ~ card_num_83 ~ rec_base,
winning_num_84 ~ card_num_84 ~ rec_base,
winning_num_85 ~ card_num_85 ~ rec_base,
winning_num_86 ~ card_num_86 ~ rec_base,
winning_num_87 ~ card_num_87 ~ rec_base,
winning_num_88 ~ card_num_88 ~ rec_base,
winning_num_89 ~ card_num_89 ~ rec_base,
winning_num_90 ~ card_num_90 ~ rec_base,
winning_num_91 ~ card_num_91 ~ rec_base,
winning_num_92 ~ card_num_92 ~ rec_base,
winning_num_93 ~ card_num_93 ~ rec_base,
winning_num_94 ~ card_num_94 ~ rec_base,
winning_num_95 ~ card_num_95 ~ rec_base,
winning_num_96 ~ card_num_96 ~ rec_base,
winning_num_97 ~ card_num_97 ~ rec_base,
winning_num_98 ~ card_num_98 ~ rec_base,
winning_num_99 ~ card_num_99 ~ rec_base{
  font-size: calc((20px / 24) * (512/512.083));
}

winning_num_1 ~ card_num_1 ~ rec_base rec_1,
winning_num_2 ~ card_num_2 ~ rec_base rec_2,
winning_num_3 ~ card_num_3 ~ rec_base rec_3,
winning_num_4 ~ card_num_4 ~ rec_base rec_4,
winning_num_5 ~ card_num_5 ~ rec_base rec_5,
winning_num_6 ~ card_num_6 ~ rec_base rec_6,
winning_num_7 ~ card_num_7 ~ rec_base rec_7,
winning_num_8 ~ card_num_8 ~ rec_base rec_8,
winning_num_9 ~ card_num_9 ~ rec_base rec_9,
winning_num_10 ~ card_num_10 ~ rec_base rec_10,
winning_num_11 ~ card_num_11 ~ rec_base rec_11,
winning_num_12 ~ card_num_12 ~ rec_base rec_12,
winning_num_13 ~ card_num_13 ~ rec_base rec_13,
winning_num_14 ~ card_num_14 ~ rec_base rec_14,
winning_num_15 ~ card_num_15 ~ rec_base rec_15,
winning_num_16 ~ card_num_16 ~ rec_base rec_16,
winning_num_17 ~ card_num_17 ~ rec_base rec_17,
winning_num_18 ~ card_num_18 ~ rec_base rec_18,
winning_num_19 ~ card_num_19 ~ rec_base rec_19,
winning_num_20 ~ card_num_20 ~ rec_base rec_20,
winning_num_21 ~ card_num_21 ~ rec_base rec_21,
winning_num_22 ~ card_num_22 ~ rec_base rec_22,
winning_num_23 ~ card_num_23 ~ rec_base rec_23,
winning_num_24 ~ card_num_24 ~ rec_base rec_24,
winning_num_25 ~ card_num_25 ~ rec_base rec_25,
winning_num_26 ~ card_num_26 ~ rec_base rec_26,
winning_num_27 ~ card_num_27 ~ rec_base rec_27,
winning_num_28 ~ card_num_28 ~ rec_base rec_28,
winning_num_29 ~ card_num_29 ~ rec_base rec_29,
winning_num_30 ~ card_num_30 ~ rec_base rec_30,
winning_num_31 ~ card_num_31 ~ rec_base rec_31,
winning_num_32 ~ card_num_32 ~ rec_base rec_32,
winning_num_33 ~ card_num_33 ~ rec_base rec_33,
winning_num_34 ~ card_num_34 ~ rec_base rec_34,
winning_num_35 ~ card_num_35 ~ rec_base rec_35,
winning_num_36 ~ card_num_36 ~ rec_base rec_36,
winning_num_37 ~ card_num_37 ~ rec_base rec_37,
winning_num_38 ~ card_num_38 ~ rec_base rec_38,
winning_num_39 ~ card_num_39 ~ rec_base rec_39,
winning_num_40 ~ card_num_40 ~ rec_base rec_40,
winning_num_41 ~ card_num_41 ~ rec_base rec_41,
winning_num_42 ~ card_num_42 ~ rec_base rec_42,
winning_num_43 ~ card_num_43 ~ rec_base rec_43,
winning_num_44 ~ card_num_44 ~ rec_base rec_44,
winning_num_45 ~ card_num_45 ~ rec_base rec_45,
winning_num_46 ~ card_num_46 ~ rec_base rec_46,
winning_num_47 ~ card_num_47 ~ rec_base rec_47,
winning_num_48 ~ card_num_48 ~ rec_base rec_48,
winning_num_49 ~ card_num_49 ~ rec_base rec_49,
winning_num_50 ~ card_num_50 ~ rec_base rec_50,
winning_num_51 ~ card_num_51 ~ rec_base rec_51,
winning_num_52 ~ card_num_52 ~ rec_base rec_52,
winning_num_53 ~ card_num_53 ~ rec_base rec_53,
winning_num_54 ~ card_num_54 ~ rec_base rec_54,
winning_num_55 ~ card_num_55 ~ rec_base rec_55,
winning_num_56 ~ card_num_56 ~ rec_base rec_56,
winning_num_57 ~ card_num_57 ~ rec_base rec_57,
winning_num_58 ~ card_num_58 ~ rec_base rec_58,
winning_num_59 ~ card_num_59 ~ rec_base rec_59,
winning_num_60 ~ card_num_60 ~ rec_base rec_60,
winning_num_61 ~ card_num_61 ~ rec_base rec_61,
winning_num_62 ~ card_num_62 ~ rec_base rec_62,
winning_num_63 ~ card_num_63 ~ rec_base rec_63,
winning_num_64 ~ card_num_64 ~ rec_base rec_64,
winning_num_65 ~ card_num_65 ~ rec_base rec_65,
winning_num_66 ~ card_num_66 ~ rec_base rec_66,
winning_num_67 ~ card_num_67 ~ rec_base rec_67,
winning_num_68 ~ card_num_68 ~ rec_base rec_68,
winning_num_69 ~ card_num_69 ~ rec_base rec_69,
winning_num_70 ~ card_num_70 ~ rec_base rec_70,
winning_num_71 ~ card_num_71 ~ rec_base rec_71,
winning_num_72 ~ card_num_72 ~ rec_base rec_72,
winning_num_73 ~ card_num_73 ~ rec_base rec_73,
winning_num_74 ~ card_num_74 ~ rec_base rec_74,
winning_num_75 ~ card_num_75 ~ rec_base rec_75,
winning_num_76 ~ card_num_76 ~ rec_base rec_76,
winning_num_77 ~ card_num_77 ~ rec_base rec_77,
winning_num_78 ~ card_num_78 ~ rec_base rec_78,
winning_num_79 ~ card_num_79 ~ rec_base rec_79,
winning_num_80 ~ card_num_80 ~ rec_base rec_80,
winning_num_81 ~ card_num_81 ~ rec_base rec_81,
winning_num_82 ~ card_num_82 ~ rec_base rec_82,
winning_num_83 ~ card_num_83 ~ rec_base rec_83,
winning_num_84 ~ card_num_84 ~ rec_base rec_84,
winning_num_85 ~ card_num_85 ~ rec_base rec_85,
winning_num_86 ~ card_num_86 ~ rec_base rec_86,
winning_num_87 ~ card_num_87 ~ rec_base rec_87,
winning_num_88 ~ card_num_88 ~ rec_base rec_88,
winning_num_89 ~ card_num_89 ~ rec_base rec_89,
winning_num_90 ~ card_num_90 ~ rec_base rec_90,
winning_num_91 ~ card_num_91 ~ rec_base rec_91,
winning_num_92 ~ card_num_92 ~ rec_base rec_92,
winning_num_93 ~ card_num_93 ~ rec_base rec_93,
winning_num_94 ~ card_num_94 ~ rec_base rec_94,
winning_num_95 ~ card_num_95 ~ rec_base rec_95,
winning_num_96 ~ card_num_96 ~ rec_base rec_96,
winning_num_97 ~ card_num_97 ~ rec_base rec_97,
winning_num_98 ~ card_num_98 ~ rec_base rec_98,
winning_num_99 ~ card_num_99 ~ rec_base rec_99{
  font-size: 2em;
}
